html, body {
    height: 100%;
    margin: 0;
  }
.page{
    width: 100%;
    height: 100%;
    position: relative;
}
.page1{
    width: 100%;
    height: 87%;
}
.font1{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
}
.font2{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 35%;
    top: 80%;
    text-align: center;
}
.font3{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 7%;
    top: 40%;
}
.font4{
    color: gray;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 7%;
    top: 50%;
}
.font5{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 57%;
    top: 45%;
}
.font6{
    color: gray;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 57%;
    top: 55%;
}
.font7{
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    left: 11%;
    top: 35%;
}
.font8{
    color: gray;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;    
    position: absolute;
    left: 11%;
    top: 45%;
}
.mainimg{
    width: 100%;
    height: 100%;
    filter: brightness(1.5) opacity(0.8);
    z-index: -1;
}
.img1{
    width: 48.125rem;
    height: 37.5rem;
    position: absolute;
    left: 41%;
    top: 10%;
    border-radius: 1.875rem;
}
.img3{
    width: 48.125rem;
    height: 37.5rem;
    position: absolute;
    left: 41%;
    top: 10%;
    border-radius: 1.875rem;
}