{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <title>RE:BORN</title>
</head>
<body>
    <div class="nav">
        <img class="logo" src="{% static 'img/로고.png' %}">
        <div class="navitem">소개</div>
        <div class="navitem">건강파트너</div>
        <div class="navitem">건강상품</div>
        <div class="navitem">건강지식</div>
        <div class="navitem">커뮤니티</div>
        <div class="navitem1">로그인</div>
        <div class="navitem3">|</div>
        <div class="navitem2">회원가입</div>
    </div>
    <div class="page1">
        <img class="mainimg" src="{% static 'img/image01.png' %}" width="500px" height="500px">
        <div class="font1">우리는 끊임없이 배우고 싶습니다.<br>RE:BORN이 여러분과 함께 하겠습니다.</div>
        <div class="font2">더 나은 건강, 더 행복한 삶을 위해,<br>함께 움직이는 시니어의 힘</div>
    </div>
    <div class="page">
        <div class="font3">언제 어디서나 건강을 아름답게</div>
        <div class="font4">오고가고의 불편함 없이<br>집에서 편리하게<br>건강을 챙기세요</div>
        <img class="img1" src="{% static 'img/image02.png' %}">
    </div>
    <div class="page">
        <div class="font5">내 손안에 건강파트너</div>
        <div class="font6">다양한 근력운동부터 재활운동까지<br>준비된 전문가들을<br>쉽고 간편하게 만나보세요</div>
    </div>
    <div class="page">
        <div class="font7">건강관련 정보</div>
        <div class="font8">건강지식, 커뮤니티를 활용해<br>다양한 건강지식을 얻고<br>소통하세요</div>
        <img class="img3" src="{% static 'img/image04.png' %}">
    </div>
</body>
</html>